<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">
<head>
    <title>DepartureTimes</title>
</head>
<body th:data-direction-id="${directionId}">
    <main layout:fragment="content">
        <table class="mb-2" th:if="${not #lists.isEmpty(departureTimes)}">
            <thead>
            <tr>
                <th class="p-1 bg-gray-200">출발시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="departure : ${departureTimes}">
                <td class="p-1 border text-center" th:text="${departure.toString()}"/>
            </tr>
            </tbody>
        </table>
        <div>
            <button class="bg-cyan-100 py-2 px-4 rounded-lg" id="addBtn">추가</button>
            <button class="bg-green-100 py-2 px-4 rounded-lg">수정</button>
            <button class="bg-red-100 py-2 px-4 rounded-lg">삭제</button>
        </div>

        <!-- 모달 -->
        <div id="modal" class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50">
            <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
                <form method="post">
                    <h2 class="text-xl font-semibold mb-4">시간 추가</h2>
                    <div class="mb-4">
                        <label for="inputTime" class="block text-sm font-medium mb-1">시간</label>
                        <input type="time" id="inputTime" name="time" class="w-full border px-3 py-2 rounded" />
                    </div>
                    <div class="flex justify-end gap-2">
                        <button id="confirmBtn" type="submit"
                                class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
                            확인
                        </button>
                        <button id="cancelBtn"
                                class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
                            취소
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            const addBtn = document.getElementById('addBtn');
            const cancelBtn = document.getElementById('cancelBtn');
            const modal = document.getElementById('modal');

            function openModal() {
                modal.classList.remove('hidden');
                modal.classList.add('flex');
            }

            function closeModal() {
                modal.classList.add('hidden');
                modal.classList.remove('flex');
            }

            addBtn.addEventListener('click', openModal);
            cancelBtn.addEventListener('click', closeModal);
        </script>
    </main>
</body>
</html>