<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">
<head>
    <title>Stops</title>
</head>
<body>
<main layout:fragment="content">
    <table class="mb-2" th:if="${not #lists.isEmpty(stops)}">
        <thead>
        <tr>
            <th class="bg-gray-200">ID</th>
            <th class="bg-gray-200">이름</th>
            <th class="bg-gray-200">유형</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stop : ${stops}">
            <td class="p-1 border">
                <a th:href="@{/stops/{stopId}(stopId=${stop.id})}" tabindex="0" th:text="${stop.id}"/>
            </td>
            <td class="p-1 border" th:text="${stop.name}">정선공영버스정류장</td>
            <td class="p-1 border" th:text="${stop.transportType}">버스</td>
        </tr>
        </tbody>
    </table>
    <button th:onclick="|location.href='@{/stops/new}'|"
            class="bg-cyan-100 py-2 px-4 rounded-lg">터미널 추가</button>
<!--    <button th:onclick="|location.href='@{/stops/delete}'|"-->
<!--            class="bg-amber-100 py-2 px-4 rounded-lg">터미널 삭제</button>-->
</main>
</body>
</html>