<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Stops</title>
    <style>
    </style>
</head>
<body>
<main layout:fragment="content">
    <table class="mb-2" th:if="${not #lists.isEmpty(stops)}">
        <thead>
        <tr>
            <th>ID</th>
            <th>이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stop : ${stops}">
            <td th:text="${stop.id}">1</td>
            <td th:text="${stop.name}">정선공영버스정류장</td>
        </tr>
        </tbody>
    </table>
    <button th:onclick="|location.href='@{/stops/new}'|"
            class="bg-cyan-100 p-2 rounded-lg">터미널 추가</button>
    <button th:onclick="|location.href='@{/stops/delete}'|"
            class="bg-amber-100 p-2 rounded-lg">터미널 삭제</button>
</main>
</body>
</html>