<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">
<head>
    <title>New Direction</title>
    <script>
        function setMethod(method){
            document.getElementById("methodInput").value = method;
        }
    </script>
</head>
<body>
<main layout:fragment="content" class="flex">
    <form method="post" th:object="${newDirectionForm}">
        <input type="hidden" name="_method" id="methodInput">
        <table class="mb-2">
            <tr class="p-1">
                <th class="p-1">
                    <label for="departureStopId">출발지</label>
                </th>
                <td class="p-1">
                    <select id="departureStopId" th:field="*{departureStopId}"
                            class="form-control border-black bg-slate-100 p-1">
                        <option th:each="stop : ${stops}" th:value="${stop.id}" th:text="${stop.name}"/>
                    </select>
                </td>
            </tr>
            <tr class="p-1">
                <th class="p-1">
                    <label for="arrivalStopId">도착지</label>
                </th>
                <td class="p-1">
                    <select id="arrivalStopId" th:field="*{arrivalStopId}"
                            class="form-control border-black bg-slate-100 p-1">
                        <option th:each="stop : ${stops}" th:value="${stop.id}" th:text="${stop.name}"/>
                    </select>
                </td>
            </tr>
            <tr class="p-1">
                <th class="p-1">
                    <label for="requiredTime">소요시간</label>
                </th>
                <td class="p-1">
                    <input type="time" id="requiredTime" th:field="*{requiredTime}"
                           class="form-control border-black bg-slate-100 p-1">
                </td>
            </tr>
            <tr class="p-1">
                <th class="p-1">
                    <label for="fare">요금</label>
                </th>
                <td class="p-1">
                    <input type="number" id="fare" th:field="*{fare}"
                           class="form-control border-black bg-slate-100 p-1">
                </td>
            </tr>
        </table>
        <div>
            <button type="submit" onclick="setMethod('PATCH')" class="bg-green-100 py-2 px-4 rounded-lg">
                수정
            </button>
            <button type="submit" onclick="setMethod('DELETE')" class="bg-red-100 py-2 px-4 rounded-lg">
                삭제
            </button>
            <button type="button" th:onclick="|location.href='@{/directions}'|" class="bg-amber-100 py-2 px-4 rounded-lg">
                목록
            </button>
        </div>
    </form>
</main>
</body>
</html>