<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Direction</title>
</head>
<body>
<main layout:fragment="content">
    <table class="mb-4">
        <thead>
        <tr>
            <th>ID</th>
            <th>유형</th>
            <th>출발</th>
            <th>도착</th>
            <th>소요시간</th>
            <th>요금</th>
            <th>대수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="p-1 border" th:text="${direction.id}">1</td>
            <td class="p-1 border" th:text="${direction.departureStop.transportType}">버스</td>
            <td class="p-1 border" th:text="${direction.departureStop.name}">정선공영버스정류장</td>
            <td class="p-1 border" th:text="${direction.arrivalStop.name}">원주공영버스터미널</td>
            <td class="p-1 border" th:text="${direction.requiredTime}">1:40</td>
            <td class="p-1 border" th:text="${direction.fare}">8900</td>
            <td class="p-1 border" th:text="${direction.departureTimes.size()}">1</td>
        </tr>
        </tbody>
    </table>
    <table th:if="${direction.departureTimes.size() > 0}">
        <thead>
        <tr>
            <th>Index</th>
            <th>출발시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="time : ${direction.departureTimes}">
            <td class="p-1 border" th:text="${timeStat.index}">0</td>
            <td class="p-1 border" th:text="${time.toString()}">00:00</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>