<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">
<head>
    <title>Directions</title>
</head>
<body>
<main layout:fragment="content">
    <table class="mb-2" th:if="${not #lists.isEmpty(directions)}">
        <thead>
        <tr>
            <th class="bg-gray-200">ID</th>
            <th class="bg-gray-200">유형</th>
            <th class="bg-gray-200">출발</th>
            <th class="bg-gray-200">도착</th>
            <th class="bg-gray-200">소요시간</th>
            <th class="bg-gray-200">요금</th>
            <th class="bg-gray-200">대수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="direction : ${directions}">
            <td class="p-1 border">
                <a th:href="@{/directions/{directionId}(directionId=${direction.id})}" tabindex="0" th:text="${direction.id}"/>
            </td>
            <td class="p-1 border" th:text="${direction.departureStop.transportType}">버스</td>
            <td class="p-1 border" th:text="${direction.departureStop.name}">정선공영버스정류장</td>
            <td class="p-1 border" th:text="${direction.arrivalStop.name}">원주공영버스터미널</td>
            <td class="p-1 border" th:text="${direction.requiredTime}">1:40</td>
            <td class="p-1 border" th:text="${direction.fare}">8900</td>
            <td class="p-1 border">
                <a th:href="@{/directions/{directionId}/departure-times(directionId=${direction.id})}" th:text="${direction.departureTimes.size()}"/>
            </td>
        </tr>
        </tbody>
    </table>
    <button th:onclick="|location.href='@{/directions/new}'|"
            class="bg-cyan-100 py-2 px-4 rounded-lg">노선 추가</button>
<!--    <button th:onclick="|location.href='@{/directions/delete}'|"-->
<!--            class="bg-amber-100 py-2 px-4 rounded-lg">노선 삭제</button>-->
</main>
</body>
</html>