<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>New Direction</title>
</head>
<body>
<main layout:fragment="content">
    <form action="/directions" th:action="@{/directions}" method="post" th:object="${newDirectionForm}">
        <table class="mb-2">
            <tr class="p-1">
                <td class="p-1">
                    <label for="departureStopId">출발지</label>
                </td>
                <td class="p-1">
                    <select id="departureStopId" th:field="*{departureStopId}"
                            class="form-control border-black bg-slate-100 p-1">
                        <option th:each="stop : ${stops}" th:value="${stop.id}" th:text="${stop.name}"/>
                    </select>
                </td>
            </tr>
            <tr class="p-1">
                <td class="p-1">
                    <label for="arrivalStopId">도착지</label>
                </td>
                <td class="p-1">
                    <select id="arrivalStopId" th:field="*{arrivalStopId}"
                            class="form-control border-black bg-slate-100 p-1">
                        <option th:each="stop : ${stops}" th:value="${stop.id}" th:text="${stop.name}"/>
                    </select>
                </td>
            </tr>
            <tr class="p-1">
                <td class="p-1">
                    <label for="requiredTime">소요시간</label>
                </td>
                <td class="p-1">
                    <input type="time" id="requiredTime" th:field="*{requiredTime}"
                           class="form-control border-black bg-slate-100 p-1">
                </td>
            </tr>
            <tr class="p-1">
                <td class="p-1">
                    <label for="fare">요금</label>
                </td>
                <td class="p-1">
                    <input type="number" id="fare" th:field="*{fare}"
                           class="form-control border-black bg-slate-100 p-1">
                </td>
            </tr>
        </table>
        <div>
            <button class="bg-cyan-100 py-2 px-4 rounded-lg" type="submit">추가</button>
            <button class="bg-amber-100 py-2 px-4 rounded-lg"
                    onclick="location.href='directions.html'"
                    th:onclick="|location.href='@{/directions}'|"
                    type="button">취소</button>
        </div>
    </form>
</main>
</body>
</html>