<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" >
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" >
    <style>
        button {
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    </style>
</head>
<body>
    <button class="bg-cyan-200" th:onclick="|location.href='@{/stops}'|">터미널 목록</button>
    <button class="bg-emerald-200" th:onclick="|location.href='@{/directions}'|">노선 목록</button>
</body>
</html>